<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=;Uid=sa;Pwd=;MultipleActiveResultSets=True;Timeout=0;Database=;" />
  </connectionStrings>
</configuration>
